@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --primary-font: "Inter", sans-serif;
  --primary-color: #55E6A5; 
  --secondary-color: #fff;
  --tertiary-color: #16161c;

  --p-color: #a1a1a1;
}

body{
  font-family: var(--primary-font);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

section{
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}

.sombra{
  height: 5px;
  width: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary-color);
  opacity: .1;
  box-shadow: 10px 10px 100px 100px var(--primary-color);
  animation: 3s infinite shadow linear;
  overflow: hidden;
}

.sombra1{
  right: 10px;
}
div{
  overflow: hidden;
}

/****************button**********/
.btn{
  background-color: var(--primary-color);
  width: 160px;
  color: var(--tertiary-color);
  height: 50px;
  border-radius: 29px;
  transition: all .4s;
}

.btn:hover{
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn2{
  border: 1px solid var(--secondary-color);
  border-radius: 0;
  background-color: transparent;
  color: var(--secondary-color);
}

.btn2:hover{
  background-color: var(--primary-color);
  border: none;
  color: black;
}

/***********Texto***************/
h1{
  font-size: 130px;
  font-weight: 800;
}

h2{
  font-size: 2.8rem;
}

.transparent-text {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  text-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

p{
  color: var(--p-color);
  border-left: 2px solid var(--primary-color);
  padding-left: 20px;
}

.heading{
  color: var(--primary-color);
  border: none;
}

/**********Animacion*******/
.animacion{
  width: 100%;
  color: black;
  height: 110px;
  padding: 5px;
  overflow: hidden;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  margin-bottom: 120px;
}

.animacion h1{
  width: 5700px;
  font-size: 100px;
  display: flex;
  gap: 10px;
  color: var(--tertiary-color);
  animation: text 20s infinite;
  animation-timing-function: linear;
  padding-left: 100%;
}

.animacion2{
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

.animacion2 h1{
  width: 200%;
  font-size: 190px;
  display: flex;
  gap: 70px;
  color: var(--secondary-color);
  animation: text 15s infinite linear;
  padding-left: 100%;
}

/***********Navbar************/
nav{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  box-shadow: 0px 0px 20px 1px #0000000a;
}

.navbar{
  display: none;
  color: white;
  transition: top 0.3s; 
  top: 0;
  max-width: 100vh;
}.navbar .container-fluid{
  background-color: var(--tertiary-color);
}
.navbar-toggler i{
  color: var(--secondary-color);
  font-size: 35px;
}
.nav-link{
  color: var(--secondary-color);
}
.nav-link:hover{
  color: var(--primary-color);
}

#navbar{
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; 
  background-color: var(--tertiary-color);
}

nav div a{
  margin: auto 20px;
}

.logo{
  width: 100px;
  height: 100px;
  background-image: url('img/person.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand{
  color: var(--secondary-color);
}
.navbar-brand:hover{
  color: var(--secondary-color);
}

a{
  color: var(--secondary-color);
  text-decoration: none;
  font-family: inherit;
  transition: color .1s ;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: color .3s ;
}

a:hover{
  color: var(--primary-color);
}

.media a{
  margin: auto 10px;
}

/*********hero************/
.hero{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.clients-hero{
  display: flex;
  align-items: center;
  width: 390px;
  padding-left: 50px;
}

.clients-hero-img{
  width: 60px;
  border-radius: 50%;
  margin-left: -25px;
}

.clients-hero i{
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  margin-right: 20px;
}

/***********About**********/
.about{
  margin: 140px auto;
}
.about a{
  font-weight: 500;
  text-decoration: underline;
}

.about .col-7{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/**********WhatWeDo***********/
.soluciones{
  margin-top: 50px;
  display: flex;
  gap: 50px;
  border: none;
}

.number h6{
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .6s;
}

.soluciones:hover .number h6{
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: none;
}

.number{
  overflow: visible;
}

.whatWeDo .col-6{
  height: 800px;
  overflow: hidden;
}

/************Recent Proyects***********/
.recentProyects{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.recentProyects h3{
  font-size: 1.5rem;
}

.proyects{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ;
  border-bottom: 2px solid #55e6a57d;
}
.proyects img{
  width: 500px;
}

.proyects:hover{
  color: var(--primary-color);
}

/***************Team************/
.team .card{
  background-color: transparent;
  color: white;
}

.team .card p{
  border: none;
  padding: 0;
}

/**************Precios************/
.precios{
  display: flex;
  flex-direction: column;
}
.precios p, .precios h2{
  margin: auto;
  border: none;
  padding: 0;
}

.precios a{
  cursor: pointer;
}

.precios .row{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.precios .col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  min-width: 426px;
}

.price-card{
  position: relative;
  background-color: #25252c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  height: 780px;
  transition: all .5s ;
  min-width: 416px;
  max-width: 416px;
}

.price-card:hover{
  box-shadow: 0px 0px 100px 1px #55e6a53f;
}

.price{
  display: flex;
  align-items: flex-end;
}

.price p, .price h2{
  margin: 0;
}

ul{
  list-style: none;
}
li{
  margin: 20px 0;
  font-size: 17px;
}
ul i{
  color: var(--primary-color);
}

.price-card .btn2{
  margin: auto;
  width: 356px;
  position: absolute;
  bottom: 40px;
}

.tipoPlanes{
  font-size: 20px;
  width: 300px;
  border: 1px solid white;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 40px;
}
.tipoPlanes-btn{
  background-color: transparent;
  border: none;
  color: white;
}

/******************Footer*********/
footer{
  margin-top: 200px;
  background-color: #25252c;
  padding: 100px;
}
footer h1{
  font-size: 65px;
  font-weight: 600;
}

input{
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding: 20px;
  opacity: .5;
  outline: none;
}

input::placeholder{
  color: white;
}
input[type=submit]{
  background-color: var(--primary-color);
  opacity: 1;
  color: black;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 35px;
  padding: 10px;
}

footer .links{
  display: flex;
  justify-content: space-evenly;
}

footer .links p{
  padding: 0;
  border: none;
  font-weight: 300;
  transition: all .3s;
}
footer .links a p:hover{
  color: var(--primary-color);
}
/*************Keyframes******************/
@keyframes text{
  from{
    transform: translateX(0);
  }

  to{
    transform: translate(-100%);
  }
}


@keyframes shadow{
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(3);
  }

  100%{
    transform: scale(1);
  }
}

/*********Responsive************/
@media(max-width: 1250px){
  h1{
    font-size: 120px;
  }
  .animacion2 h1 {
    width: 300%;
    animation: text 10s infinite linear;
    padding-left: 100%;
  }
}
@media(max-width: 1020px){
  h1{
    font-size: 110px;
  }
}
@media(max-width: 993px){
  .col, .col-5, .col-6, .col-7, .col-8{
    width: 100%;
    flex: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img-fluid{
    width: 60%;
    margin: auto;
  }
  .hero .img-fluid{
    width: 80%;
  }

  .last-price-card{
    height: 810px;
  }
}
@media(max-width: 890px){
  .no-b{
    display: none;
  }
  .navbar{
    display: flex;
    position: fixed;
    background-color: var(--tertiary-color);
  }
  .hero{
    padding-top: 0;
  }.animacion2 h1 {
    width: 300%;
    animation: text 10s infinite linear;
    padding-left: 100%;
  }
}
@media(max-width: 994px){
  footer .links{
    margin-top: 50px;
  }
}@media(max-width: 994px){
  .proyects{
    flex-direction: column;
    height: 600px;
    margin-top: 50px;
  }
  .soluciones div{
    overflow: visible;
  }
}
@media(max-width: 767px){
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 30px;
  }.about .row{
    min-height: 821px;
  }.img-fluid {
    width: 70%;
    margin: auto;
}.animacion2 h1 {
  width: 355%;
  animation: text 9s infinite linear;
  padding-left: 100%;
}section {
  margin: 200px auto;
  position: relative;}

  }
  

@media(max-width: 590px){
  .animacion2 h1 {
    width: 402%;
    animation: text 9s infinite linear;
    padding-left: 100%;
  }
}@media(max-width: 500px){
  .animacion2 h1 {
    width: 652%;
    animation: text 9s infinite linear;
    padding-left: 100%;
  }
}@media(max-width: 448px){
  h1{
    font-size: 60px;
  }
  .hero{
    text-align: center;
  }
  section{
    padding: 5px;
  }
  .hero p{
    padding: 0;
    border: none;
  }
}

